<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title inertia>Sippy Admin</title>

    @inertiaHead()
    @viteReactRefresh()
    @vite(['inertia/app/app.tsx'])
  </head>
  <body>
    @inertia()
  </body>
</html>
